---
layout: archive
permalink: /educational-material/
title: "Educational Material"
author_profile: true
redirect_from:
  - /wordpress/blog-posts/
---

<p>
  Along my academic career, I have found a lot interesting <em>free</em> academic materials. I have listed some of them below, sorted by topic in different blog posts.
</p>

<p>
  Ao longo da minha carreria acadêmica, encontrei materiais educacionais <em>gratuitas</em>. Eles estão listados abaixo, organizados por tópico em posts diferentes.
</p>
{% include base_path %}
{% capture written_year %}'None'{% endcapture %}
{% for post in site.posts %}
  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% if year != written_year %}
    <h2 id="{{ year | slugify }}" class="archive__subtitle">{{ year }}</h2>
    {% capture written_year %}{{ year }}{% endcapture %}
  {% endif %}
  {% include archive-single.html %}
{% endfor %}
